<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    package="com.example.haseeb.loginapp">

    <application
        android:allowBackup="true"
        android:enabled="true"
        android:icon="@drawable/what"
        android:label="WhattsApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.UserProfileActivity"></activity>
    </application>

</manifest>